
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html,body{
	height: 100%;	
}
body {
	display: flex;
	flex-direction: column;
	
	
	
  }
.wrapper{
	
	margin: 60px 0 0 0;
	display: flex ;
	justify-content: space-evenly;
	
	flex: 1 0 auto;
	flex-wrap: wrap;
	width: 100%;	
	background: url(/img/cat2.png);
	background-size: 250px;	
	
}
.header{	
	display: block;	
	z-index: 10;
	position: fixed;	
	height: 60px;
	width: 100%;
	background-color:white;
	border-bottom: 1px solid black;	
	/*background: url(/img/logo.png) no-repeat ;
	background-size: 100px;
	background-position: 5px 30%;*/
	
		
}

.footer{
	
	flex: 0 0 auto;
	height: 100px;
	background-color:white;
	border-top: 1px solid black;	
}
.header-nav{
	padding: 10px 20px 0 0;	
	text-align: end;
	font-size: 20px;	
	
}

.header-nav li{	
	margin: 5px;
	
}
.header-nav ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-left: 5px;
}
.header-nav-l{
	
	color: #000;
	padding: 1px;
	border: 1px solid #fff;
}
.header-nav-l:hover{
	color: #000;
	background: #fff;
	border: 1px solid #000;
	box-shadow: 0 0 5px rgba(223, 22, 22, 0.808); 	
	transition-duration: 2s;
}

.header-nav-l:active{
	color: white;
	background: #000;
}
.about{
	min-height: 300px;
	max-width: 300px;
	max-height: 200px;
	border: 1px solid black;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.8); 
	margin: 20px 0px 20px 10px;
	padding: 10px;	
	overflow: hidden;
}

.about:hover{
	box-shadow: 0 0 15px rgba(223, 22, 22, 0.808); 
	transition-duration: 2s;

}
.about::first-letter{
	font-size: 24px;
	color:  rgba(223, 22, 22, 0.808);
	padding: 0 2px 0 10px;
}
	
.about ul{
	margin: 10px 0 0 10px;
}
.about li{	
	background: url(/img/check.png) left;
	margin:  0 0 10px 0;
	padding: 0 0 0 20px;
	background-size: 15px;	
	background-repeat: no-repeat;

 }
 .content_circule{
	 width: 10px;
	 height: 10px;
	 background-color: red;
	 border-radius: 50%;
	 position: relative;	
	 animation-name: white-cirucle;
	 animation-duration: 2s;
	 animation-timing-function: linear;
	 animation-iteration-count: infinite;
	 animation-direction: alternate-reverse;
 }
 .content_circule:hover{
	 animation-play-state: paused;
	 cursor: wait;
 }

 @keyframes  white-cirucle{
	 0%{
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background-color: red;
		color: #000;
	 }
	 100%{
		border-radius: 0%;
		width: 21px;
		 height: 21px;
		 background-color: black;
		color:red;

	 }

 }
.header__burger{
	display: none;
}
 @media (max-width:700px){
	 .header-nav{
		 display: none;
	 }
	 .header__burger{
		z-index: 50;
		display: block;
		position:fixed;
		right: 20px;
		top:20px;
		width: 30px;
		height: 20px;
		background-color: white;
	 }
	 .header__burger span{
		 background-color:black;
		 position: absolute;
			width: 100%;
			height: 2px;
			left:0;
			top: 9px;
	 }
	 .header__burger:before,
	 .header__burger:after{
		 content: "";
		 position: absolute;
		 background: black;
		 width: 100%;
		 height: 2px;
		 left:0;
	 }
	 .header__burger:before{
		 top:0;
	 }
	 .header__burger:after{
		 bottom: 0;
	 }
 }